/* Cart */

.cart-item {
    margin: 1.8rem 0rem;
    padding: 0rem 0.7rem;
  }
  
  .cart-item a {
    color: grey;
  }
  
  #delete_cart_item {
    color: red;
    background: white;
    padding: 0.3rem 0.5rem;
    font-size: 1.1rem;
    border: none;
  }
  
  #card_item_price {
    color: #6f0a14;
    font-weight: 600;
    font-size: 12px;
  }
  
  #checkout_btn{
   background-color: #fff;
   color: #6f0a14;
   width: max-content;
   padding: 5px;
   border: 1px solid #6f0a14;
   border-radius: 10px;
   padding-top: 2px;
  }
  #checkout_btn:hover{
    background-color: #6f0a14  !important;
    color: #fff !important;
  }
  .review-btn {
    background-color: #fa9c23;
    border-color: #fa9c23;
    margin-top: 2rem;
    border-radius: 5rem;
  }
  
  #view_order_details {
    background-color: #fa9c23;
    border-color: #fa9c23;
  }
  
  #order_summary {
    border: 1px solid #e3e3e3;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
  }
  
  .order-summary-values {
    float: right;
    font-weight: bold;
  }
  
  .stockCounter input {
    border: none;
    width: 3rem;
    text-align: center;
  }
  
  .plus,
  .minus {
    padding: 0.1rem 0.5rem;
  }
  
  .stockCounter input::-webkit-outer-spin-button,
  .stockCounter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } 
  
  .btn-minus{
  background-color: #fff;
  color: #6f0a14;
  width: 32px;
  height: 32px;
  border: 1px solid #6f0a14;
  border-radius: 10px;
  padding: 2px;
  }
  .btn-minus:hover{
    background-color: #6f0a14  !important;
    color: #fff !important;
  }
  .btn-plus{
      background-color : #fff;
      color: #6f0a14;
      width: 32px;
      height: 32px;
      border: 1px solid #6f0a14;
      border-radius: 10px;
      padding: 2px;
  }  
  .btn-plus:hover{
    background-color: #6f0a14  !important;
    color: #fff !important;
  }
  .form-control:disabled,
  .form-control[readonly] {
    background-color: white;
  }
  

